* {
  font-family: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  background: none;
  outline: none;
  
  text-shadow: .125rem .125rem .125rem rgb(41, 41, 41);
}

html,
body,
#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vw;

  align-items: center;

  overflow: hidden;
}
#root {
  padding-top: 8rem;

  background-repeat: no-repeat;
  background:
    radial-gradient(circle at 0% 0%, rgb(0, 77, 128), transparent 25%),
    radial-gradient(circle at 50% 50%, rgb(0, 11, 59), transparent),
    radial-gradient(circle at 90% 90%, rgb(167, 0, 209), transparent), black;

    color: white;
}
*::placeholder {
  color: white;
}